@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Upload DK Salaries</h2>

<form method="post" asp-action="DKimport" asp-controller="ImportExportSalaries" enctype="multipart/form-data">
    <input type="file" name="DKfiles" multiple />
    <input type="text" name="uploadName" />
    <input type="submit" value="Upload DK Salaries" />
</form>

<div>@ViewBag.Message</div>